   
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">
      File Management Panel
    </a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-nav">
      <div class="nav-item text-nowrap">
       <span class="text-light">
        {{
          currentUserEmail
        }}
       </span>
        <button mat-button class="nav-link px-3" (click)="logout()">Sign out</button>
      </div>
    </div>
  </header>
  
  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <button mat-button class="nav-link" aria-current="page" routerLink="/panel">
                          Dosyalarım
              </button>
            </li>
            <li class="nav-item">
              <button  mat-button class="nav-link" routerLink="/panel/file-upload">
                          Dosya Ekle
              </button>
            </li>
            
          </ul>
          
          <div *ngIf="isAdmin">
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Admin</span>
          </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item">
              <button  mat-button class="nav-link" routerLink="/panel/users">
                Kullanıcılar
              </button>
            </li>
            <li class="nav-item">
              <button  mat-button class="nav-link" routerLink="/panel/operation-claim/list">
                Roller
              </button>
            </li>
            <li class="nav-item">
              <button  mat-button class="nav-link" routerLink="/panel/user-operation-claim/list">
                Kullanıcıların Rolleri
              </button>
            </li>
          </ul>
          </div>
        </div>
      </nav>
  
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Dashboard</h1>
        </div>

        <router-outlet></router-outlet>
  
      </main>
    </div>
  </div>