<div class="d-flex justify-content-center mt-2">
 
    <form [formGroup]="operationClaimForm">
        <h1 class="text-center text-light">Yeni Rol Ekle</h1>

        <mat-form-field class="w-100" appearance="fill">
            <mat-label class="text-light">Rol İsmi</mat-label>
            <input type="text" matInput placeholder="admin" formControlName="name" autocomplete="off">     
          </mat-form-field>

        

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="invalidCheck"  formControlName="isApproved">
            <label class="form-check-label text-light" for="invalidCheck">
              Durumu
            </label>
          </div>
          
        <div class="gap-2 d-grid">
            <button type="submit" class="btn btn-primary" (click)="add()">Ekle</button>
        </div>
      </form>
</div>